<html>
<head>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="toyotaBody">
    <h1 class="text-center">This is Toyota</h1>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Logo</h5>
                    <p class="text-white">The best car</p>
                </td>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Supra</h5>
                    <p class="text-white">The best car</p>
                </td>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Supra</h5>
                    <p class="text-white">The best car</p>
                </td>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Supra</h5>
                    <p class="text-white">The best car</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Supra</h5>
                    <p class="text-white">The best car</p>
                </td>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Supra</h5>
                    <p class="text-white">The best car</p>
                </td>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Supra</h5>
                    <p class="text-white">The best car</p>
                </td>
                <td>
                    <img src="/images/toyota/logo.png" style="height:80px; width:80px" />
                    <h5 class="text-white">Toyota Supra</h5>
                    <p class="text-white">The best car</p>
                </td>
            </tr>
        </tbody>
    </table>
   
</body>
</html>